button, .button {
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 156, 198, 0.5);
  /*cursor: pointer;*/
  font-weight: 400;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  outline: white;
  display: inline-block;
  padding-top: .85rem;
  padding-right: 2rem;
  padding-bottom: .7625rem;
  padding-left: 2rem;
  font-size: 1.125rem;
  background: none;
  color: #009cc6;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
 button:hover,
button:focus,
.button:hover,
.button:focus {
  border-color: #009cc6;
  background: rgba(0, 160, 197, 0.5);
  color: white;
  text-shadow: 0px 0px 2px rgb(0, 71, 140);
}
 back, .back {
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 156, 198, 0.5);
  /*cursor: pointer;*/
  font-weight: 400;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  outline: white;
  display: inline-block;
  padding-top: .85rem;
  padding-right: 2rem;
  padding-bottom: .7625rem;
  padding-left: 2rem;
  font-size: 1.125rem;
  background: none;
  color: #009cc6;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
 back:hover,
back:focus,
.back:hover,
.back:focus {
  border-color: #009cc6;
  background: rgba(0, 160, 197, 0.5);
  color: white;
  text-shadow: 0px 0px 2px rgb(0, 71, 140);
}