/*body
{
    background:url(img/background_01.jpg)   no-repeat  center center scroll ;   
    margin: auto;
    width:1366px;
    height:768px;
}*/ 
.text_{
    color:coral;
}
.logo {
    background: url(/do_img/global/splashpage/logoDP.png)scroll no-repeat center;
     width: 450px;
    height: 86px;
    margin: auto;
   
}
.register_login {
    color: red;
    text-align:center;
    font-family:"Eurostile_LT_Bold";
}
.frame{
    text-align:left;
    color:white;
}