<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
  </system.web>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".php" mimeType="text/text" />
        </staticContent>
    </system.webServer>
</configuration>
