#skylab {
    position: relative;
    left: 1px;
    top: 0px;
    width: 772px;
    height: 407px;
    background-image: url(/do_img/global/pilotSheet/skylab/rework/background.jpg?__cv=f4b44b08b683b3404bec38921eb92e00);
    background-repeat:no-repeat;
    font-size: 11px;
    color: #f2b05a;
}
#subnav {
    position:absolute;
    top:-26px !important;
    left:4px !important;
}
#skylabContent{
/*    position: relative;*/
    left: 16px;
    top: 21px;
    width: 772px;
    height: 401px;
    background-image: url(/do_img/global/pilotSheet/skylab/rework/background.jpg?__cv=f4b44b08b683b3404bec38921eb92e00);
    background-repeat:no-repeat;
}

.tabButtonActive{
    background-image:  url(/do_img/global/pilotSheet/profilePage/tab_active.jpg?__cv=af06774e97a98879d2b4cd781b350400);
    background-repeat: no-repeat;
    margin-right: 5px;
}

.tabButtonInActive{
    background-image:  url(/do_img/global/pilotSheet/profilePage/tab_inactive1.jpg?__cv=491773b46f05dd34c2ae423de5e95800);
    background-repeat: no-repeat;
    margin-right: 5px;
}

.tabButtonRollOver{
    background-image:  url(/do_img/global/pilotSheet/profilePage/tab_rollover.jpg?__cv=4e701de4cf154f4df18a7b68be13dd00);
    background-repeat: no-repeat;
    margin-right: 5px;
}

.tabLabelActive{
    height: 20px;
    background-repeat: no-repeat;
    background-position: center 6px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    position: relative;
    /*top: 5px;*/
}

.tabLabelInActive{
    height: 20px;
    background-repeat: no-repeat;
    background-position: center 6px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    /*top: 5px;*/
}

#backgroundPrometiumCollector {
    position: absolute;
    left: 207px;
    top: 141px;
    width: 112px;
    height: 66px;
    background-image:  url(/do_img/global/pilotSheet/skylab/prometium_collector_layer.gif?__cv=0a4f9247291dc33a22a69ac16eb6c800);
}
#uplinkPrometiumCollector {
    position: absolute;
    left: 223px;
    top: 81px;
    width: 33px;
    height: 70px;
    background-image:  url(/do_img/global/pilotSheet/skylab/uplink_prometiumCollector.png?__cv=3c4ce0eebdb2fe9a8d75729ce4b93d00);
}
#backgroundEnduriumCollector {
    position: absolute;
    left: 126px;
    top: 192px;
    width: 73px;
    height: 87px;
    background-image:  url(/do_img/global/pilotSheet/skylab/endurium_collector_layer.gif?__cv=4a0ce8fdfbf38d9dae3472d36b787900);
}
#uplinkEnduriumCollector {
    position: absolute;
    left: 161px;
    top: 132px;
    width: 20px;
    height: 58px;
    background-image:  url(/do_img/global/pilotSheet/skylab/uplink_enduriumCollector.png?__cv=b3ab3ee34873232d8519bd623fce0f00);
}
#backgroundTerbiumCollector {
    position: absolute;
    left: 54px;
    top: 244px;
    width: 73px;
    height: 78px;
    background-image:  url(/do_img/global/pilotSheet/skylab/terbium_collector_layer.gif?__cv=c1462ad34e1f4027de3fa4de3a106c00);
}
#uplinkTerbiumCollector {
    position: absolute;
    left: 66px;
    top: 215px;
    width: 4px;
    height: 30px;
    background-image:  url(/do_img/global/pilotSheet/skylab/uplink_terbiumCollector.png?__cv=6ba88a6910f3d1a74b4b37355679c000);
}
#backgroundPrometidRefinery {
    position: absolute;
    left: 389px;
    top: 181px;
    width: 79px;
    height: 62px;
    background-image:  url(/do_img/global/pilotSheet/skylab/prometid_refinery_layer.gif?__cv=5083137a50be7d6cb576d4a3a2058300);
}
#uplinkPrometidRefinery {
    position: absolute;
    left: 458px;
    top: 90px;
    width: 63px;
    height: 113px;
    background-image:  url(/do_img/global/pilotSheet/skylab/uplink_prometidRefinery.png?__cv=b3d160729bcb45b7717035fd163f9800);
}
#backgroundDuraniumRefinery {
    position: absolute;
    left: 452px;
    top: 195px;
    width: 82px;
    height: 64px;
    background-image:  url(/do_img/global/pilotSheet/skylab/duranium_refinery_layer.gif?__cv=4cbb2cccb8f78afc45e723b3bbd1f500);
}
#uplinkDuraniumRefinery {
    position: absolute;
    left: 506px;
    top: 137px;
    width: 86px;
    height: 76px;
    background-image:  url(/do_img/global/pilotSheet/skylab/uplink_duraniumRefinery.png?__cv=f9c76ba85647f334d9b39a27a4bfbf00);
}
#backgroundPromeriumRefinery {
    position: absolute;
    left: 387px;
    top: 258px;
    width: 75px;
    height: 56px;
    background-image:  url(/do_img/global/pilotSheet/skylab/promerium_refinery_layer.gif?__cv=3e7177491565c58911d6417411a2ee00);
}
#uplinkPromeriumRefinery {
    position: absolute;
    left: 458px;
    top: 208px;
    width: 138px;
    height: 70px;
    background-image:  url(/do_img/global/pilotSheet/skylab/uplink_promeriumRefinery.png?__cv=0c10b8669a2925d9a00ede87aafe6a00);
}
#backgroundSepromRefinery {
    position: absolute;
    left: 387px;
    top: 313px;
    width: 74px;
    height: 57px;
    background-image:  url(/do_img/global/pilotSheet/skylab/seprom_refinery_layer.gif?__cv=841f7a3b0f8a6bf18bd0e027a5824300);
}
#uplinkSepromRefinery {
    position: absolute;
    left: 475px;
    top: 355px;
    width: 120px;
    height: 46px;
    background-image:  url(/do_img/global/pilotSheet/skylab/uplink_sepromRefinery.png?__cv=2a40245e8fcd728ad9c0397ecdf61000);
}
#backgroundXenoModule {
    position: absolute;
    left: 450px;
    top: 267px;
    width: 64px;
    height: 62px;
    background-image:  url(/do_img/global/pilotSheet/skylab/xeno_module_layer.gif?__cv=c3a7f5faf6a97561e7f44380535da900);
}
#uplinkXenoModule {
    position: absolute;
    left: 526px;
    top: 301px;
    width: 116px;
    height: 23px;
    background-image:  url(/do_img/global/pilotSheet/skylab/uplink_xenoModule.png?__cv=9f67c91a0be3a1b6e2b749ebce57c200);
}

#skylab #modules {
    position: absolute;
    left: 16px;
    top: 56px;
    width: 772px;
    height: 364px;
}

#skylab .module_large {
    z-index: 20;
    left: 195px;
    top: -20px;
    width: 359px;
}
.skylab_module_header {
    width: inherit;
    height: 39px;
    background:  url(/do_img/global/skylab/modules_large/popup_header.png?__cv=57187cad6e380a0957fc186fd7b20b00) no-repeat center;
}
.skylab_module_close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background:  url(/do_img/global/skylab/modules_large/close_button_sprite.png?__cv=fa1f7ef0f89ab04212dbf02f3424d700) no-repeat center -24px;
}
.skylab_module_close:hover {
    background-position: center 0;
}
.skylab_module_close:active {
    background-position: center -48px;
}
.skylab_module_middle {
    width: inherit;
    background:  url(/do_img/global/skylab/modules_large/popup_middle.png?__cv=56226ac40551323a9a89453ad36fc500) repeat-y center top;
    padding-top: 15px;
}
.skylab_module_tabs {
    width: 326px;
    margin: 0 auto 0;
    height: 18px;
}
.skylab_module_tab {
    width: 76px;
    height: 16px;
    background:  url(/do_img/global/skylab/modules_large/subtab_sprite_76x16px.png?__cv=8c0cb75900b3615c37d5625304e6b700) no-repeat 0 0;
    text-align: center;
    float: left;
    cursor: pointer;
    padding-top: 2px;
    color: #BFBFBF;
}
.skylab_module_tab.tab_third {
    background-image:  url(/do_img/global/skylab/modules_large/subtab_sprite_120x16px.png?__cv=19c918e831cc866272f6137b4bc04800);
    width: 120px;
}
.skylab_module_tab:hover {
    background-position: 0 -36px;
}
.skylab_module_tab.tab_active {
    background-position: 0 -18px;
    color: #FFFFFF;
}
.skylab_module_content {
    background:  url(/do_img/global/skylab/modules_large/content_bg_326x243px.png?__cv=cc7773e80cabf70a9defe5585b40a300) no-repeat center;
    width: 326px;
    height: 243px;
    margin: 0 auto;
}
.skylab_module_footer {
    width: inherit;
    height: 49px;
    background:  url(/do_img/global/skylab/modules_large/popup_footer.png?__cv=bda06559499f3631035304b343035900) no-repeat center;
}


#skylab .module_small {
    /*background-image:  url(/do_img/global/pilotSheet/skylab/module_bg_small.png?__cv=e5df8b303b394f28609d3aa3dcf44d00);
    width: 170px;
    height: 36px;*/
}
#skylab .module {
    position: absolute;
}

#skylab .module #corner_small_top_left_active {
    padding:2px 0px 0px 4px;
    background-image: url(/do_img/global/pilotSheet/skylab/box_small_left_top_active.png?__cv=adec8c2caa1bdf2e5eaea026cd290b00);
    background-repeat:no-repeat;
}
#skylab .module #corner_small_top_right_active {
    background-image: url(/do_img/global/pilotSheet/skylab/box_small_right_top_active.png?__cv=e3e2ae780c910feec5c2d9e8fb536d00);
    background-repeat:no-repeat;
}
#skylab .module #corner_small_bottom_left_active {
    padding:3px 0px 3px 4px;
    background-image: url(/do_img/global/pilotSheet/skylab/box_small_left_bottom_active.png?__cv=bc43e0b9c35851f214dfcba695247c00);
    background-repeat:no-repeat;
    background-position: left bottom;
}
#skylab .module #corner_small_bottom_right_active {
    width:5px;
    background-image: url(/do_img/global/pilotSheet/skylab/box_small_right_bottom_active.png?__cv=33fab77ecffc0da765194378e167e700);
    background-repeat:no-repeat;
    background-position: right bottom;
}
#skylab .module #corner_small_top_left_inactive {
    padding:2px 0px 0px 4px;
    background-image: url(/do_img/global/pilotSheet/skylab/box_small_left_top_inactive.png?__cv=6414dfd6b9a98c5f37316e5a6b621800);
    background-repeat:no-repeat;
}
#skylab .module #corner_small_top_right_inactive {
    background-image: url(/do_img/global/pilotSheet/skylab/box_small_right_top_inactive.png?__cv=96c4bb0646f71d332d6b0c6c3e716800);
    background-repeat:no-repeat;
}
#skylab .module #corner_small_bottom_left_inactive {
    padding:3px 0px 3px 4px;
    background-image: url(/do_img/global/pilotSheet/skylab/box_small_left_bottom_inactive.png?__cv=9ba05c9c073ddadd2924d3bd2763cf00);
    background-repeat:no-repeat;
    background-position: left bottom;
}
#skylab .module #corner_small_bottom_right_inactive {
    width:5px;
    background-image: url(/do_img/global/pilotSheet/skylab/box_small_right_bottom_inactive.png?__cv=f49da71b06b8917d5ebeeeb70f9ff700);
    background-repeat:no-repeat;
    background-position: right bottom;
}



#skylab .module .name {
    font-weight: bold;
    color: #f5ffff;
    white-space: nowrap;
}
.skylab_module_header .name {
    font-weight: normal !important;
    color: #ffcc00 !important;
    white-space: nowrap;
    text-align: center;
    padding-top: 9px;
    font-size: 14px;
}
#skylab .module .name_hint {
    font-weight: bold;
    color: #a9a9a9;
    white-space: nowrap;
}
#skylab .module .name_inactive {
    font-weight: bold;
    color: #444444;
    white-space: nowrap;
}
#skylab .module_infobox {
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 2;
    width: 270px;
}
#skylab .module .cellview {
    padding-left: 10px;
}
#skylab .module .level_icon {
    float:left;
    width: 14px;
    height: 14px;
    background-image:  url(/do_img/global/pilotSheet/skylab/icon_level.png?__cv=c5bbdd1dac33d888d7141d2e51405000);
    background-repeat: no-repeat;
}
#skylab .module .level_icon_inactive {
    float:left;
    width: 14px;
    height: 14px;
    background-image:  url(/do_img/global/pilotSheet/skylab/icon_level_inactive.png?__cv=62ec9e957c7b407554dca92d18fccc00);
    background-repeat: no-repeat;
}
#skylab .module .level_icon_upgrade {
    float:left;
    width: 14px;
    height: 14px;
    background-image:  url(/do_img/global/skylab/modules_large/upgrade_icon.gif?__cv=cea0b317a17bcacbc8e66ccead585a00);
    background-repeat: no-repeat;
}
#skylab .module .level {
    float: left;
}
#skylab .module .efficiency_icon {
    float:left;
    width: 14px;
    height: 14px;
    background-image:  url(/do_img/global/pilotSheet/skylab/efficiency.png?__cv=8611ac9328986d0ad1f830f71e4ac500);
}
#skylab .module .efficiency {
    float:left;
    white-space: nowrap;
}
#skylab .module .power_icon {
    float:left;
    width: 14px;
    height: 14px;
    background-image:  url(/do_img/global/pilotSheet/skylab/power.png?__cv=81958f36b34ae36633e37bddedcdc500);
}
#skylab .module .power {
    float:left;
    white-space: nowrap;
}

#skylab #module_baseModule_small {
    left: 400px;
    top: 315px;
    cursor: pointer;
}
#skylab #module_solarModule_small {
    left: 262px;
    top: 12px;
    cursor: pointer;
}
#skylab #module_storageModule_small {
    left: 96px;
    top: 314px;
    cursor: pointer;
}
#skylab #module_transportModule_small {
    left: 3px;
    top: 274px;
    cursor: pointer;
}
#skylab #module_prometiumCollector_small {
    left: 65px;
    top: 13px;
    cursor: pointer;
}
#skylab #module_enduriumCollector_small {
    left: 7px;
    top: 61px;
    cursor: pointer;
}
#skylab #module_terbiumCollector_small {
    left: 7px;
    top: 124px;
    cursor: pointer;
}
#skylab #module_prometidRefinery_small {
    left: 505px;
    top: 15px;
    cursor: pointer;
}
#skylab #module_duraniumRefinery_small {
    left: 576px;
    top: 57px;
    cursor: pointer;
}
#skylab #module_promeriumRefinery_small {
    left: 580px;
    top: 128px;
    cursor: pointer;
}
#skylab #module_sepromRefinery_small {
    left: 580px;
    top: 315px;
    cursor: pointer;
}
#skylab #module_xenoModule_small {
    left: 586px;
    top: 198px;
    cursor: pointer;
}

#skylab #resources {
    /*width: 768px;*/
    height: 24px;
    color: #e2e2e2;
    font-weight: bold;
    font-size: 9px;
    position: absolute;
    top: 24px;
    left: 20px;
}
#skylab #resources .highlight {
    color: #bcd3e3;
}

.view_generally {
    position: absolute;
    text-align: center;
    color: #e2e2e2;
    font-weight: bold;
    font-size: 9px;
    top: 12px;
}
.view_generally_maximal_bg {
    position: absolute;
    height: 10px;
    background-color: #a9a9a9;
    margin-top: 3px;
}
.view_generally_maximal_number {
    position: absolute;
    margin-top: 2px;
    color: #5f5f5f;
    text-align: center;
}

#view_prometium { width: 87px; left: 4px;}
#view_prometium_stock {}
#view_prometium_maximal {text-align:left}
.view_prometium_maximal_number { width: 100%;}
#view_endurium { width: 87px; left: 101px;}
#view_endurium_stock {}
#view_endurium_maximal {text-align:left}
.view_endurium_maximal_number { width: 100%;}
#view_terbium { width: 87px; left: 197px;}
#view_terbium_stock {}
#view_terbium_maximal {text-align:left}
.view_terbium_maximal_number { width: 100%;}
#view_prometid { width: 87px; left: 293px;}
#view_prometid_stock {}
#view_prometid_maximal {text-align:left}
.view_prometid_maximal_number {width: 100%;}
#view_duranium { width: 87px; left: 390px;}
#view_duranium_stock {}
#view_duranium_maximal {text-align:left}
.view_duranium_maximal_number {width: 100%;}
#view_xenomit { width: 87px; left: 486px;}
#view_xenomit_stock {}
#view_xenomit_maximal {text-align:left}
.view_xenomit_maximal_number { width: 100%;}
#view_promerium { width: 87px; left: 583px;}
#view_promerium_stock {}
#view_promerium_maximal {text-align:left}
.view_promerium_maximal_number { width: 100%;}
#view_seprom { width: 87px; left: 678px;}
#view_seprom_stock {}
#view_seprom_maximal {text-align:left}
.view_seprom_maximal_number { width: 100%;}


#skylab #resources tr {
}

#skylab #resources td {
    width: 95px;
    text-align: center;
}
.resource_view {
    position: absolute;
}
.resource_view_max_bg {
    position: absolute;
    margin-top: 3px;
    height: 10px;
}
.resource_view_max_number {
    position: absolute;
    margin-top: 2px;
    width: 89px;
    text-align:center;
}

#skylab .tabs {
    height:18px;
    border-left: 3px solid #b1b1b1;
    cursor: pointer;
}
#skylab .tabs .tab_first, #skylab .tabs .tab_middle, #skylab .tabs .tab_end {
    border-top: 2px solid #b1b1b1;
    /*width: 82px;
    text-align:center;
    cursor: pointer;*/
    padding: 0px 5px;
}
#skylab .tabs .tab_first {
    background-color: #3c3e3f;
}
#skylab .tabs .tab_end, #skylab .tabs .tab_middle {
    background-color: #1f2021;
}

#skylab .tabs .tab_separator {
    border-top: 2px solid #b1b1b1;
    width: 19px;
    background-image:  url(/do_img/global/pilotSheet/skylab/tab_select_left.jpg?__cv=24ea6c162c0fed6e9247d8819aee1a00);
}
#skylab .tabs .tab_separator_middle_unselected {
    border-top: 2px solid #b1b1b1;
    width: 19px;
    background-image:  url(/do_img/global/pilotSheet/skylab/tab_middle_unselected.jpg?__cv=57e01d4bbab1850c59bd6f25c8110700);
}
#skylab .tabs .tab_endseparator {
    width: 19px;
    background-image:  url(/do_img/global/pilotSheet/skylab/tab_end_unselect.png?__cv=7fff1778b2b6e6af36e01705b71c8200);
}
#skylab .tabContent {
    padding-top: 15px;
}
#skylab #module_infobox_transportModule_overview_large {
    padding: 0 0 0 20px;
}
#skylab #module_infobox_solarModule_overview_large {
    padding: 30px 0 0 35px;
}
#skylab #module_infobox_baseModule_overview_large {
    padding: 25px 0 0 28px;
}
#skylab #module_infobox_storageModule_overview_large,
#skylab #module_infobox_xenoModule_overview_large {
    padding: 30px 0 0 25px;
}
#skylab .tabContentHead{
    background-image:  url(/do_img/global/pilotSheet/skylab/infobox_bg_top.jpg?__cv=8e294409e8e2446153c9780504e01700);
    height:10px;
    border-top: 3px solid #b1b1b1;
    border-left: 3px solid #b1b1b1;
    border-right: 3px solid #b1b1b1;
}
#skylab .tabContentHeadClose {
    position: absolute;
    z-index: 10;
    left: 243px;
    top: 21px;
    width: 24px;
    height: 24px;
    background-image:  url(/do_img/global/pilotSheet/skylab/close_button_48x24.png?__cv=d5b95efd5d93ece519888ef3bca64d00);
    background-position: 0 0;
}
#skylab .tabContentHeadClose:hover {
    background-position: 24px 0;
    cursor: pointer;
}

#skylab .iteminfo_overview_progressbar {
    position:absolute;
    float:left;
    margin-top:-4px;
    background-color: #21a7c3;
    height:7px;
}
#skylab .iteminfo_overview_progressgrid {
    margin-top:-4px;
    position:absolute;
    width: 61px;
    height: 7px;
    background-image:  url(/do_img/global/pilotSheet/skylab/construction_grid.png?__cv=a37823e00ed44ae05ff382bd78757500);
}


#skylab .module_infobox_upgrade {
    margin: 0 auto;
    padding-top: 15px;
}
#skylab .module_infobox_upgrade .firstRow {
    padding: 0 15px 0 6px;
    height:14px;
    font-weight: bold;
}
#skylab .module_infobox_upgrade .secondRow {
    text-align:right;
    padding-right:15px;
    font-weight: bold;
}
#skylab .module_infobox_upgrade .thirdRow {
    text-align:right;
    padding-right:30px;
    font-weight: bold;
}

#skylab .module_infobox_xenoModule .firstRow {
    width: 99px;
    height: 23px;
    padding-left:6px;height:14px;
}
#skylab .module_infobox_xenoModule .secondRow {
    width: 75px;
    height: 23px;
    text-align:center;
    padding-right:15px;
}
#skylab .module_infobox_xenoModule .thirdRow {
    width: 81px;
    height: 23px;
    text-align:center;
    padding-right:30px;
}

#skylab .table_infobar {
    border-left: 3px solid #b1b1b1;
    border-right: 3px solid #b1b1b1;
    border-bottom: 3px solid #b1b1b1;
    background-image:  url(/do_img/global/pilotSheet/skylab/infobox_bg_pattern.jpg?__cv=48c625e0613ed628ddb69fe7941ac100);
}
#skylab .table_infobar td {
    text-align: center;
}
#skylab .table_infobar td img {
    padding-top:3px;
}

#skylab .collector_info {
    min-height: 127px;
    background-repeat: no-repeat;
    background-position: center 55px;
    text-align: center;
}

#skylab .collector_info_prometiumCollector {
    background-image:  url(/do_img/global/pilotSheet/skylab/prometiumCollector.png?__cv=b54041d4e037cf64617e29e00bf0fb00);
}
#skylab .collector_info_enduriumCollector {
    background-image:  url(/do_img/global/pilotSheet/skylab/enduriumCollector.png?__cv=0ac0e53364a9089e28ab108d2725ad00);
}
#skylab .collector_info_terbiumCollector {
    background-image:  url(/do_img/global/pilotSheet/skylab/terbiumCollector.png?__cv=c7e5c850c82dce1ccea3e21aa7563e00);
}

#transport_left {
    float:left;
    width:140px;
}
#transport_right {
    float:left;
    width:124px;
    margin-left: 20px;
}
#transport_right td {
    text-align: center;
}

.module_infobox_transportModule {
    font-weight: bold;
}
.module_infobox_transportModule input {
    width: 49px;
    height: 11px;
    background-color: #626262;
    border:1px solid #b1b1b1;
}


#skylab .button_standard {
    width:107px;
    height:17px;
    background-image: url(/do_img/global/pilotSheet/skylab/bg_button.png?__cv=4d69e41bfccdfddc1a8b2b2ec836aa00);
    line-height:17px;
    text-align:center;
    font-weight: bold;
}

#skylab .icon_efficiency {
    position: absolute;
    left: 154px;
    top: 100px;
    width: 55px;
    height: 52px;
}
#skylab .icon_efficiency_100 {
    background-image:  url(/do_img/global/pilotSheet/skylab/cog_anim_100.gif?__cv=cd1b780d03891c70cc805da851b17b00);
}
#skylab .icon_efficiency_75 {
    background-image:  url(/do_img/global/pilotSheet/skylab/cog_anim_75.gif?__cv=1ef2d1344469ec0b61b275914a40b200);
}
#skylab .icon_efficiency_50 {
    background-image:  url(/do_img/global/pilotSheet/skylab/cog_anim_50.gif?__cv=d9f765dc634b091e55077e5b3e7e1100);
}
#skylab .icon_efficiency_25 {
    background-image:  url(/do_img/global/pilotSheet/skylab/cog_anim_25.gif?__cv=1f8d8569a6e2d656ebcf39c49ad6b500);
}
#skylab .icon_efficiency_0 {
    background-image:  url(/do_img/global/pilotSheet/skylab/cog_anim_0.gif?__cv=69ad425c6dab3540b44b92d882a1a400);
}
#skylab .icon_attention {
    width:18px;
    height:16px;
    position:absolute;
    top:115px;
    left:172px;
    background-image:  url(/do_img/global/pilotSheet/skylab/icon_attention.png?__cv=1923bb45b23859edbc0da637947f6800);
}

#skylab #solarModul_overview_content {
}
#skylab #solarModul_overview_content .firstRow {
    padding-left:20px;
}
#skylab #solarModul_overview_content .secondRow {
    padding-left:10px;
    color:#f1ec63;
}
#skylab #solarModul_overview_content .inactive {
    color: #7b8181;
}
#skylab #solarModul_overview_content .label {
    font-weight: bold;
}
#skylab #solarModul_overview_content .value {
    font-weight: bold;
}


.skylab_standard {font-size: 10px; font-weight: normal; color: #E2E2E2}
.skylab_standard b            {    font-weight: bold;}
.skylab_standard a            {    color:#E2E2E2;text-decoration:none;}
.skylab_standard a:link       {    color:#E2E2E2;}
.skylab_standard a:visited    {    color:#E2E2E2;}
.skylab_standard a:hover      {    color:#E2E2E2;cursor:pointer;}

.skylab_price_normal {font-size: 10px; font-weight: normal; color: #b5bdbd}
.skylab_price_normal b            {    font-weight: bold;}
.skylab_price_normal a            {    color:#b5bdbd;text-decoration:none;}
.skylab_price_normal a:link       {    color:#b5bdbd;}
.skylab_price_normal a:visited    {    color:#b5bdbd;}
.skylab_price_normal a:hover      {    color:#b5bdbd;cursor:pointer;}

.skylab_font_tab_selected {font-size: 10px; font-weight: bold; color: #E2E2E2}
.skylab_font_tab_unselected {font-size: 10px; font-weight: bold; color: #7b8181}

.skylab_font_power {
    font-size: 10px;
    font-weight: bold;
    color: #f1ec63;
}
.skylab_font_efficiency {
    font-size: 10px;
    font-weight: bold;
    color: #ffffff;
}
.skylab_font_level {
    font-size: 10px;
    font-weight: bold;
    color: #65aae1;
}
.skylab_font_level_inactive {
    font-size: 10px;
    font-weight: bold;
    color: #a9a9a9;
}

#skylab .ore_prometium { color: #b32f2f;}
#skylab .ore_endurium  { color: #59aae3;}
#skylab .ore_terbium   { color: #f4e53f;}
#skylab .ore_prometid  { color: #d58989;}
#skylab .ore_duranium  { color: #3dcd6c;}
#skylab .ore_promerium { color: #dfa33b;}
#skylab .ore_xenomit   { color: #949ba9;}
#skylab .ore_seprom    { color: #9e1cc3;}


#skylab #skylabReloader {
    width: 25px;
    height: 25px;
    position: absolute;
    left:15px;
    top: 66px;
    background-image:  url(/do_img/global/pilotSheet/skylab/reload_btn_std.png?__cv=937c692daea4ef282e5e6f7427a85300);
    cursor: pointer;
    z-index: 1;
}
#skylab #blueprint {
    width: 25px;
    height: 25px;
    position: absolute;
    left:45px;
    top: 66px;
    background-image:  url(/do_img/global/pilotSheet/skylab/bprint.jpg);
    cursor: pointer;
    z-index: 1;
}
#skylab #skylabReloader:hover {
    background-image:  url(/do_img/global/pilotSheet/skylab/reload_btn_mo.png?__cv=37bd66fc290afc4462a47b8eb40eb100);
}
#skylab #skylabHelp {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 742px;
    top: 66px;
    background-image:  url(/do_img/global/pilotSheet/skylab/help_btn_std.png?__cv=d0f1983575faf6e5ae96a5769f181100);
    cursor: pointer;
    z-index: 1;
}
#skylab #skylabHelp:hover {
    background-image:  url(/do_img/global/pilotSheet/skylab/help_btn_mo.png?__cv=e0b8b450980f4c85fddea75433c31000);
}

.upgrade_container {
    padding: 0 0 0 20px;
}
.upgrade_container_max {
    text-align:center;
    padding:25px 10px;
}
#productivity_container {
    padding: 15px 0 0 35px;
    font-weight: bold;
}


#skylab .baseModul_level {
    background-repeat: no-repeat;
    background-position: 2px;
    padding-left: 17px;
}
#skylab .baseModul_level_ACTIVE {
    background-image:  url(/do_img/global/pilotSheet/skylab/icon_level.png?__cv=c5bbdd1dac33d888d7141d2e51405000);
}
#skylab .baseModul_level_UPGRADE {
    background-image:  url(/do_img/global/pilotSheet/skylab/icon_upgrade.gif?__cv=cea0b317a17bcacbc8e66ccead585a00);
}

.productivity_robotShop_credits {
    float:left;
    width:125px;
    text-align:center;
    height: 60px;
}
.productivity_robotShop_uridium {
    float:left;
    width:125px;
    text-align:center;
    height:60px;
}
.productivity_robotShop_credits img, .productivity_robotShop_uridium img {
    margin-bottom: 5px;
}

.showActiveRobots {
    z-index: 20;
    position: absolute;
    top:30px;
    left:7px;
    float:left;
    width:247px;
    height:105px;
    background-color: black;
}
.container_robot_small {
    float: left;
    margin: 5px 0 0 1px;
}
.skylab_robot_price {
    margin-top:-5px;
    padding-left: 10px;
}

.module_infobox_info {
    float: left;
    width: 60px;
    margin-left: 10px;
    font-weight: bold;
    margin-top: 15px;
}
.module_info_active_state {
    margin-left: 50px
}
.module_info_level .level_icon,
.module_info_level .level_icon_upgrade {
    color: #65aae1;
    background-position: 0 center;
    padding-left: 15px;
    width: 45px;
}
.module_info_power_usage {
    color: #f1ec63;
    background:  url(/do_img/global/skylab/modules_large/power.png?__cv=81958f36b34ae36633e37bddedcdc500) no-repeat 0 center;
    padding-left: 15px;
    width: 45px;
    height: 14px;
}
.module_info_efficiency {
    color: #FFFFFF;
    background:  url(/do_img/global/pilotSheet/skylab/efficiency.png?__cv=8611ac9328986d0ad1f830f71e4ac500) no-repeat 0 center;
    width: 45px;
    padding-left: 15px;
    height: 14px;
}

#skylab_shadow {
    width: 772px;
    height: 407px;
    position: absolute;
    z-index: 5;
    background: #000000;
    opacity: 0.6;
    display: none;
}

.module_progressBGWrapper {
    width: 285px;
    height: 27px;
}
.module_progressBG_left {
    background:  url(/do_img/global/skylab/modules_large/display_01.png?__cv=71938437b04ff53377ac47e197903b00) no-repeat left center;
    width: 10px;
    height: 27px;
    float: left;
}
.module_progressBG {
    background:  url(/do_img/global/skylab/modules_large/display_02.png?__cv=690620c1d6a3a718d58d9a4952400500) repeat-x left center;
    width: 260px;
    height: 27px;
    float: left;
}
.module_progressBG .progress_timer {
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    width: 257px;
    position: absolute;
    margin: 6px 0 0 0;
    z-index: 2;

}
.module_progressBG_right {
    background:  url(/do_img/global/skylab/modules_large/display_03.png?__cv=4fb872aec617038932b859c0efd72b00) no-repeat left center;
    width: 10px;
    height: 27px;
    float: left;
}
.module_progressBarWrapper {
    position: absolute;
    height: 23px;
    width: 20px; /* min = 20 | max = 272*/
    background:  url(/do_img/global/skylab/modules_large/progressbar_02.png?__cv=6dd1fa01afc0fe312e43900ba1c7e800) repeat-x 0 center;
    margin: 2px 0 0 -6px;
}
.module_progressBar_left {
    width: 10px;
    height: 23px;
    float: left;
    background:  url(/do_img/global/skylab/modules_large/progressbar_01.png?__cv=73d45b191839cd30b2eecf7795e1d400) no-repeat left center;
    margin-left: -2px;
}
.module_progressBar_right {
    width: 10px;
    height: 23px;
    float: right;
    background:  url(/do_img/global/skylab/modules_large/progressbar_03.png?__cv=6b0f3949484bcf8d210a1a666aade200) no-repeat left center;
    margin-right: -2px;
}

.upgrade_options_wrapper {
    width: 275px;
    margin: 5px 15px 0 2px;
}
.upgrade_option {
    float: left;
    width: 85px;
    height: 109px;
    background:  url(/do_img/global/skylab/modules_large/price-display.png?__cv=4eb4daed1640c55254da72628e8afb00) no-repeat center top;
    margin-left: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 8px;
}
.upgrade_option_instant {
    margin-left: 0;
}
.upgrade_option .option_state {
    background:  url(/do_img/global/skylab/modules_large/icon_bg_normal.png?__cv=26465c30c888074460711c8090f15f00) no-repeat center;
    width: 71px;
    height: 57px;
    margin: 8px auto 9px;
    padding-top: 13px;
}
.upgrade_option .option_state:hover {
    background-image:  url(/do_img/global/skylab/modules_large/icon_bg_hover.png?__cv=1dc73fbf249706143d1851cc550c7f00);
}
.upgrade_option .option_state.upgrade_option_active {
    background-image:  url(/do_img/global/skylab/modules_large/icon_bg_active.png?__cv=c1638019f800e46b4d2ccca8ea066c00);
}
.option_state img {
    display: block;
    width: 44px;
    height: 44px;
    margin: 0 auto;
}

.upgrade_options_text, .transport_hint_wrapper {
    clear: both;
    padding-top: 5px;
    text-align: center;
    display: none;
}
.transport_hint_wrapper {
    display: block;
}

.upgrade_option_confirm, .transport_option_confirm {
    display: none;
    width: 200px;
    height: 26px;
    background-image:  url(/do_img/global/pilotSheet/profilePage/rework/button_sprite_200x33px.png?__cv=1556d1727584ec3e5a2e50ad3320c200);
    background-position: 0 0;
    background-repeat: no-repeat;
    margin: 12px 0 0 40px;
    cursor: pointer;
    padding-top: 7px;
}
.upgrade_option_confirm:hover, .transport_option_confirm:hover {
    background-position: 0 -33px;
}
.upgrade_option_confirm img {
    display: block;
    margin: 0 auto;
}

.transport_option_confirm {
    display: block;
    margin-top: 15px;
    height: 25px;
    padding-top: 8px;
    font-weight: bold;
}

#skylab .module_resourceWarning {
    display: none;
    position: absolute;
    top: 74px;
    left: 17px;
    width: 324px;
    height: 239px;
    background: #000000;
    opacity: 0.85;
    padding: 0;
}
.module_resourceWarning_text {
    width: 270px;
    margin: 0 auto 40px;
    padding-top: 30px;
}
.module_resourceWarning_button {
    width: 200px;
    margin: 0 auto;
}