@charset "utf-8";

#sidenav {
    position: absolute;
    top:18px;
    left: 35px;
    text-align:center;
    width:475px;
}

.eVoucher_head{
    width: 500px;
    height: 45px;
    position: relative;
    top: 20px;
    left: 62px;
    padding-top:  30px;
}

.eVoucher_inner_head{
    width: 354px;
    height: 15px;
    position: relative;
    top: 65px;
    left: 138px;
    padding-top:  15px;
}

.eVoucher_intro{
    width: 354px;
    height: 15px;
    position: relative;
    left: 157px;
    top: 85px;
    font-size: 10px;
    color: #FFFFFF;
}

.voucher_arrow{
    width: 22px;
    height: 22px;
    margin-left: 5px;
    background-image: url(/do_img/global/eVoucher/arrow_element_20x22.png?__cv=e4914f927a263ca509f4b18c5a18a400);
    background-repeat: no-repeat;
}

.eVoucher_form {
    height: 25px;
    left: 148px;
    position: relative;
    top: 1px;
    width: 354px;
}

.evoucherInputField {
    height: 20px;
    font-size: 11px;
    padding-left: 7px;
    background-image: url(/do_img/global/eVoucher/textfield_237x22.png?__cv=12f74fa58cde60511696ce473b506a00);
    background-repeat: no-repeat;
    border: 0px;
    width: 230px;
}

.evoucherInputFieldBig{
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
}


.statusIcon{
    width: 22px;
    height: 22px;
    background-image: url(/do_img/global/eVoucher/checkbox_21x22.png?__cv=ec0350763335f7bc7e0306c85d0aa800);
    background-repeat: no-repeat;
}

#codeMuster{
    height: 22px;
    width: 300px;
    margin: 5px 0 0 10px;
}

#eVoucher_error {
    margin: 5px 30px 10px 35px;
}
#reCaptcha_error {
    margin-top: 3px;
    text-align: center;
}

#eVoucher_success {
    left: -50px;
    margin: 15px 0 0;
    position: absolute;
    text-align: center;
    width: 430px;
}

.eVoucher_success {
    margin: 15px 0 0 35px;
}

#eVoucher_success_payment{
    text-decoration: underline;
    margin-left: 35px;
    cursor: pointer;
}

.eVoucher_success_payment{
    text-decoration: underline;
    margin-left: 35px;
    cursor: pointer;
}

#cashCodeIconStatus {
    height: 22px;
    width: 300px;
    margin-bottom: 15px;
}

.cashcodeButton_inActive {
    background: url(/do_img/global/eVoucher/selection_button_sprite_148x44.png?__cv=256c39783f9dcaa12c8bb31101380d00) no-repeat;
    height: 44px;
    width: 148px;
    position: absolute;
    border: 0;
    font-size: 13px;
    font-weight: bold;
    color: #A0A0A0;
}

.cashcodeButton_active {
    background: url(/do_img/global/eVoucher/selection_button_sprite_148x44.png?__cv=256c39783f9dcaa12c8bb31101380d00) no-repeat;
    height: 44px;
    width: 148px;
    position: absolute;
    border: 0;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
}

.cashcodeButton_active:hover{
    background-position: 0 -88px;
}

.cashcodeButton_active:active{
    background-position: 0 -132px;
}

.cashCodeButton {
    top: 96px;
}

.cashLogButton {
    left: 186px;
    top: 96px;
}

.submit_button_style{
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
}


.cashLog {
    background: url(/do_img/global/eVoucher/selection_button_sprite_148x44.png?__cv=256c39783f9dcaa12c8bb31101380d00) no-repeat;
}

.failedIcon {
    width: 18px;
    height: 18px;
    position: relative;
    background: url(/do_img/global/eVoucher/status_icon_sprite_21x22.png?__cv=2c402e5494a04f3ef05bd618cf297300) no-repeat;
}

.successIcon {
    width: 18px;
    height: 18px;
    position: relative;
    background: url(/do_img/global/eVoucher/status_icon_sprite_21x22.png?__cv=2c402e5494a04f3ef05bd618cf297300);
}

.fliess11px-red {
    font-size: 11px;
    font-family: Verdana, Arial, sans-serif;
    color: #b40000;
}

.fliess11px-green {
    font-size: 11px;
    font-family: Verdana, Arial, sans-serif;
    color: #3CE800;
}

.fliess11px-gelb{
    font-size: 11px;
    font-family: Verdana, Arial, sans-serif;
    color: #F1C839;
}

.fliess11px-grey {
    color: #ABABAB;
    font-family: Verdana,Arial,sans-serif;
    font-size: 11px;
}

.greenText{
    color: #3CE800;
}

.redText {
    color: #b40000;
}

.whiteText {
    color: #FFFFFF;
}

#eVoucherHistory {
    margin: 25px 0 0 75px;
    position: absolute;
    width: 535px;
}

#sidenav {
    left: 35px;
    position: absolute;
    text-align: center;
    top: 18px;
    width: 475px;
}

#balance {
    height: 325px;
    left: 35px;
    overflow: auto;
    position: absolute;
    top: 35px;
    width: 475px;
    z-index: 1;
}
