html,body,div,span,object,iframe,a,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,q {
    quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

abbr[title],dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #c9c9c9;
    background: #fff;
    margin: 25px 0;
    padding: 0;
}

input,select {
    vertical-align: baseline;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

small {
    font-size: 85%;
}

strong,th {
    font-weight: bold;
}

td,td img {
    vertical-align: top;
}

textarea {
    overflow: auto;
}

.ie6 legend,.ie7 legend {
    margin-left: -7px;
}

input[type="radio"] {
    vertical-align: baseline;
}

input[type="checkbox"] {
    vertical-align: baseline;
}

.ie6 input {
    vertical-align: text-bottom;
}

button,input,select,textarea {
    margin: 0;
}

button {
    width: auto;
    overflow: visible;
}

.ie7 img {
    -ms-interpolation-mode: bicubic;
}

.ir {
    display: block;
    text-indent: -999em;
    overflow: hidden;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
}

.hidden {
    display: none;
    visibility: hidden;
}

.visible {
    display: inline;
    visibility: visible;
}

.visuallyhidden {
    position: absolute!important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
}

#spinner {
    width: 16px;
    height: 16px;
    background: url("/images/indicator.gif") no-repeat 0 0;
    display: inline-block;
    margin-left: 10px;
}

.clearfix:before,.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.clearme {
    clear: both;
}

.nomargin {
    margin: 0;
}

.topmargin {
    margin-top: 20px;
}

.centered-content {
    text-align: center;
}

.free-trial-text {
    padding: 5px;
}

.centered-box {
    margin: 40px 170px;
    font-size: 14px;
    border: 1px solid #d5d5d5;
    padding: 40px 40px 40px 40px;
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

body {
    font: 12px/1.333 Arial,Helvetica,sans-serif;
    color: #555;
    background: #dadada url(/images/layout/bg.png) no-repeat center top;
}

body.ja {
    font-family: 'Meiryo UI',Meiryo,Mincho,Sans-Serif;
}

select,input,textarea,button {
    font: 99% Arial,Helvetica,Sans-Serif;
}

.ja select,.ja input,.ja textarea,.ja button {
    font-family: 'Meiryo UI',Meiryo,Mincho,Sans-Serif;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    margin: .41667em 0 .9em 0;
    clear: both;
    line-height: 1;
}

h1,h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3333em;
}

h5 {
    font-size: 1.1em;
}

.paragraph-heading {
    font-size: 16px;
    font-weight: bold;
}

p {
    margin-bottom: 1em;
}

a,a:active,a:visited {
    color: #fa9e0e;
}

a:hover {
    color: #fb5e00;
}

a:hover,a:active {
    outline: none;
}

a {
    -moz-transition: color .15s ease-in-out;
    -webkit-transition: color .15s ease-in-out;
    -o-transition: color .15s ease-in-out;
    transition: color .15s ease-in-out;
}

ul,ol {
    margin-left: 1.8em;
}

ol {
    list-style-type: decimal;
}

nav ul,nav li {
    margin: 0;
}

hr.half {
    width: 460px;
    text-align: left;
}

.half {
    width: 50%;
}

.larger-font {
    font-size: 1.1667em;
}

.aux-text {
    color: #999;
}

@font-face {
    font-family:'EngschriftDIND';src:url('/webfonts/style_32933.eot');src:local('\263a '),url('/webfonts/style_32933.woff') format('woff'),url('/webfonts/style_32933.ttf') format('truetype'),url('/webfonts/style_32933.svg#webfontbvlCP6To') format('svg');font-weight:normal;font-style:normal;
}

@font-face {
    font-family:'DINCondensedC';src:url('/webfonts/style_99250.eot');src:local('\263a '),url('/webfonts/style_99250.woff') format('woff'),url('/webfonts/style_99250.ttf') format('truetype'),url('/webfonts/style_99250.svg#webfontjUlXzQbX') format('svg');font-weight:normal;font-style:normal;
}

@font-face {
    font-family:'DINWebPro-CondBold';src:url('/webfonts/DINWebPro-CondBold.eot');src:local('\263a '),url('/webfonts/DINWebPro-CondBold.woff') format('woff'),url('/webfonts/DINCompPro-CondBold.ttf') format('truetype'),url('/webfonts/style_99250.svg#webfontjUlXzQbX') format('svg');font-weight:normal;font-style:normal;
}

.font-din {
    font-family: EngschriftDIND;
    text-transform: uppercase;
}

.ru .font-din {
    font-family: DINWebPro-CondBold;
}

html,body {
    height: 100%;
}

#aspnetForm {
    height: 100%;
    background: transparent url(/images/layout/bg-grad.png) repeat-x left top;
}

#sticky-footer-wrapper {
    min-height: 100%;
    margin: 0 0 -161px;
    background: transparent url(/images/layout/content-wrapper-bg.png) repeat-y center top;
}

.ie6 #sticky-footer-wrapper {
    height: auto!important;
    height: 100%;
}

#header-wrapper,#footer-wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

#sticky-footer-push {
    height: 161px;
}

#site-header {
    height: 78px;
    background: #1c1c1c url(/images/layout/head-bg.png) repeat-x left top;
    border-bottom: 1px solid #2e2e2e;
}

#site-header #header-wrapper {
    height: 78px;
}

#site-header h1 {
    margin: 0;
    background: transparent url(/images/layout/web-mainlogo.png) no-repeat left top;
    height: 33px;
    width: 411px;
    position: relative;
    top: 23px;
}

#site-header h1 a {
    height: 33px;
}

#header-wrapper {
    position: relative;
}

.ie6 #header-wrapper,.ie7 #header-wrapper {
    z-index: 3;
}

#mainmenu {
    background: #000;
    z-index: 2;
    position: relative;
}

#mainmenu>ul {
    width: 980px;
    margin: 0 auto;
}

#mainmenu>ul>li {
    float: left;
    position: relative;
}

#mainmenu ul li a {
    line-height: 40px;
    font-size: 14px;
    display: block;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

#mainmenu>ul>li>a {
    color: #fa9e0e;
    font-weight: bold;
    padding: 0 30px 0 10px;
    overflow: hidden;
    position: relative;
}

#mainmenu>ul>li:hover>a {
    color: #fff;
}

#mainmenu>ul>li span {
    height: 4px;
    width: 7px;
    position: absolute;
    top: 18px;
    right: 16px;
    background: transparent url(/images/layout/menu-arrow.png) no-repeat left top;
}

#mainmenu>ul>li:hover span {
    background-position: left bottom;
}

#mainmenu>ul>li>ul {
    display: none;
    background: #fff;
    border: 1px solid #d1d1d1;
    border-top: none;
    -moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
    z-index: 2;
}

#mainmenu>ul>li>ul>li a {
    color: #707070;
    padding: 0 10px;
    border-top: 1px solid #ebebeb;
    min-width: 175px;
}

.de #mainmenu>ul>li>ul.external>li a {
    min-width: 285px;
}

.ru #mainmenu>ul>li>ul>li a {
    min-width: 242px;
}

#mainmenu>ul>li>ul.external>li a:hover {
    background: #f7f7f7 url(/images/external-link.png) no-repeat 95% 50%;
}

.de #mainmenu>ul>li:first-child>ul>li:first-child a {
    min-width: 210px;
}

#mainmenu>ul>li>ul>li a:hover {
    color: #fa9e0e;
    background: #f7f7f7;
}

#mainmenu>ul>li:hover>ul {
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
}

.ru #mainmenu ul li a {
    font-size: 13px;
}

.de #mainmenu>ul>li>a,.ru #mainmenu>ul>li>a {
    padding: 0 25px 0 8px;
}

.de #mainmenu>ul>li span,.ru #mainmenu>ul>li span {
    right: 11px;
}

#mainmenu .lastitem a {
    padding-right: 0!important;
}

#content-wrapper {
    width: 980px;
    margin: 0 auto;
    padding: 0 8px;
}

#content {
    width: 940px;
    padding: 20px 20px 80px;
    position: relative;
}

#site-footer {
    background: #000 url(/images/layout/footer-bg.png) repeat-x left top;
    height: 161px;
}

#footer-wrapper {
    height: 131px;
    padding-top: 30px;
    color: #6c6c6c;
}

#footer-wrapper a:hover {
    color: #fff;
}

#restriction-logos {
    float: right;
}

#footer-copyright-notice a {
    color: #6c6c6c;
}

#footer-ip-address {
    margin-top: 28px;
}

#footer-links {
    margin: 0;
    list-style: none;
}

#footer-links li {
    display: inline;
}

#site-footer .separator {
    padding: 0 4px;
}

#content .info-box {
    margin: 20px 0 20px 0;
    padding: 15px 15px 15px 15px;
    background: #fff4b8;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #f7ca01;
    line-height: 1.5;
}

#content .info-box.add-game-time {
    font-size: 15px;
}

#content .info-box.add-game-time a {
    color: #66bd3d;
    font-weight: bold;
    text-transform: uppercase;
}

#content .info-box.japan-notice {
    position: relative;
}

#content .info-box dl {
    width: 200px;
    clear: both;
    font-weight: bold;
    margin: 0 0 10px 10px;
}

#content .info-box dt {
    float: left;
    clear: left;
    width: 50px;
}

#content .info-box dd {
    padding: 0 0 0 0;
}

#content .info-box a.closemessage {
    position: absolute;
    height: 16px;
    width: 16px;
    text-indent: -3000px;
    background: url(/images/close.gif) no-repeat top left;
    bottom: 10px;
    font-size: 14px;
    right: 15px;
    font-weight: bold;
}

#content .info-box.small {
    background: #f0fee9;
    border: 1px solid #8dbf73;
    padding: 8px;
    margin: 10px 0 0 10px;
    float: left;
    color: #60955b;
}

#content .info-box.small.error {
    background: #ffcfcf;
    border: 1px solid #c89393;
    color: #ca5757!important;
}

#content .info-box.edit-account {
    font-weight: bold;
}

#content .info-box.receipt {
    width: 750px;
    margin: 0 auto 10px auto;
}

#content .info-box h4 {
    font-size: 14px;
    font-weight: bold;
}

#content .info-box span {
    font-weight: bold;
}

.success-global {
    background: #f0fee9;
    border: 1px solid #8dbf73;
    padding: 8px;
    color: #60955b;
}

.error-global {
    padding: 8px;
    background: #ffcfcf;
    border: 1px solid #c89393;
    color: #ca5757!important;
}

.success-global p {
    color: #555;
    font-size: 14px;
}

.error-global p {
    color: #555;
    font-size: 14px;
}

input.placeholder {
    color: #a9a9a9;
}

label {
    display: block;
    clear: both;
    margin-left: 1px;
    font-size: 1.1667em;
    line-height: 1;
}

label.inline,.inlinelabels label {
    display: inline;
    padding: 0 30px 0 10px;
}

label.special {
    font-size: 1.5em;
}

input[type=text],input[type=password],select,textarea {
    display: block;
    margin: 10px 0 19px 0;
    border: 1px solid #b9b9b9;
    padding: 7px 10px 8px;
    width: 280px;
    font-size: 16px;
    line-height: 19px;
    color: #717171;
    float: left;
    clear: left;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

input[type=text].compact,input[type=password].compact,select.compact,textarea.compact {
    margin: 0 0 10px;
}

input[type=text]:focus,input[type=password]:focus,select:focus,textarea:focus {
    border: 1px solid #fa9e0e;
    background: #f1f1f1;
    outline: none;
}

select {
    width: 302px;
}

.webkit select {
    background: #fff url(/images/select-bg.png) no-repeat center right;
    -webkit-appearance: none;
    padding-right: 25px;
    margin-bottom: 19px;
}

.webkit select:focus {
    background: #f1f1f1 url(/images/select-focus-bg.png) no-repeat center right;
}

select.DOBDate,select.DOBMonth,select.DOBYear {
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    clear: none;
}

select.DOBDate {
    width: 66px;
}

select.DOBMonth {
    width: 133px;
}

select.DOBYear {
    width: 82px;
    margin-right: 0;
}

.genderselector {
    margin: 20px 0;
    float: left;
    clear: none;
    width: 302px;
}

.regionselector {
    margin: 20px 0;
    float: left;
    clear: none;
    width: 600px;
}

input[type=submit],button {
    height: 37px;
    background: #505050 url(/images/buttonbgs.png) repeat-x top left;
    color: #fff;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    padding: 0 15px;
    -moz-box-shadow: 1px 2px 2px #a8a8a8;
    -webkit-box-shadow: 1px 2px 2px #a8a8a8;
    box-shadow: 1px 2px 2px #a8a8a8;
    cursor: pointer;
    clear: both;
    display: block;
}

.ie6 input[type=submit],.ie6 button,.ie7 input[type=submit],.ie7 button {
    padding: 0 5px;
}

input[type=submit]:hover,button:hover {
    background: #383838 url(/images/buttonbgs.png) repeat-x bottom left;
}

input[type=submit]:active,button:active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[disabled=disabled] {
    opacity: .5;
    filter: alpha(opacity=0);
}

input[type=submit].orange,button.class {
    background-image: url(/images/buttonbgs-orange.png);
    padding: 0 30px;
}

.btn-fake,btn-fake {
    font-size: 1.5em;
    -moz-box-shadow: 1px 2px 2px #a8a8a8;
    -webkit-box-shadow: 1px 2px 2px #a8a8a8;
    box-shadow: 1px 2px 2px #a8a8a8;
    text-align: center;
    background-color: #ffa500;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 8px 15px;
    background-image: url(/images/buttonbgs-orange.png);
    cursor: pointer;
    clear: both;
    color: #fff;
    font-weight: normal;
}

.btn-fake.upgrade {
    background: #4b8733 url(/images/buttonbgs_action.png) repeat-x 0 0;
    font-size: 12px;
    display: block;
    margin-top: -8px;
}

.btn-fake.upgrade:hover {
    background: #4b8733 url(/images/buttonbgs_action.png) repeat-x 0 0;
}

.de .btn-fake.upgrade,.ru .btn-fake.upgrade {
    font-size: 10px;
    margin-top: -8px;
    float: left;
}

.btn-fake.upgrade a {
    color: #fff;
}

#buy-plex .not-logged-in {
    margin-top: 50px;
    text-align: center;
}

a.btncss,input[type=submit].btncss {
    background: #39c;
    background-image: -webkit-linear-gradient(top,#7e7e7e,#505050);
    background-image: -moz-linear-gradient(top,#7e7e7e,#505050);
    background-image: -ms-linear-gradient(top,#7e7e7e,#505050);
    background-image: -o-linear-gradient(top,#7e7e7e,#505050);
    background-image: linear-gradient(to bottom,#7e7e7e,#505050);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 0 auto;
    -moz-box-shadow: 1px 2px 2px #a8a8a8;
    -webkit-box-shadow: 1px 2px 2px #a8a8a8;
    box-shadow: 1px 2px 2px #a8a8a8;
    display: inline-block;
}

a.btncss:hover,input[type=submit].btncss:hover {
    background: #505050;
    text-decoration: none;
}

a.btncss.blue {
    background: #39c;
    background-image: -webkit-linear-gradient(top,#39c,#069);
    background-image: -moz-linear-gradient(top,#39c,#069);
    background-image: -ms-linear-gradient(top,#39c,#069);
    background-image: -o-linear-gradient(top,#39c,#069);
    background-image: linear-gradient(to bottom,#39c,#069);
}

a.btncss.blue:hover,input[type=submit].btncss:hover {
    background: #069;
    text-decoration: none;
}

a.btncss.green,input[type=submit].btncss.green {
    background: #39c;
    background-image: -webkit-linear-gradient(top,#696,#363);
    background-image: -moz-linear-gradient(top,#696,#363);
    background-image: -ms-linear-gradient(top,#696,#363);
    background-image: -o-linear-gradient(top,#696,#363);
    background-image: linear-gradient(to bottom,#696,#363);
}

a.btncss.green:hover,input[type=submit].btncss.green:hover {
    background: #363;
    text-decoration: none;
}

a.btncss.red,input[type=submit].btncss.red {
    background: #dd171a;
    background-image: -webkit-linear-gradient(top,#dd171a,#ef3236);
    background-image: -moz-linear-gradient(top,#dd171a,#ef3236);
    background-image: -ms-linear-gradient(top,#dd171a,#ef3236);
    background-image: -o-linear-gradient(top,#dd171a,#ef3236);
    background-image: linear-gradient(to bottom,#dd171a,#ef3236);
    -moz-box-shadow: 1px 2px 2px #000;
    -webkit-box-shadow: 1px 2px 2px #000;
    box-shadow: 1px 2px 2px #000;
    border-top: 1px solid #ee8e90;
    border-bottom: 1px solid #c70a0b;
    text-transform: uppercase;
    font-family: 'EngschriftDIND',Arial,sans-serif;
    font-size: 22px;
    padding: 7px 15px 7px 15px;
}

a.btncss.red:hover,input[type=submit].btncss.red:hover {
    background: #dd171a;
}

.old-browser {
    display: block;
    background: #ffcfcf;
    border: 1px solid #c89393;
    padding: 20px;
    margin: 0 auto;
    float: left;
    font-size: 14px;
}

.old-browser ul {
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.old-browser ul li {
    float: left;
    list-style: none;
    position: relative;
    margin-right: 35px;
}

.old-browser ul li a {
    float: left;
    background: url(/images/browser-logos-sprite.png) no-repeat top left;
    height: 145px;
    width: 118px;
}

.old-browser ul li a:hover {
}

.old-browser ul li span {
    position: absolute;
    bottom: 5px;
    font-size: 16px;
    width: 100%;
    text-align: center;
}

.old-browser ul li.chrome a {
    background-position: 6px 0;
}

.old-browser ul li.firefox a {
    background-position: -112px 0;
}

.old-browser ul li.opera a {
    background-position: -234px 0;
}

.old-browser ul li.msie a {
    background-position: -360px 0;
}

.clientvalidator,.aspvalidator,.forminfo {
    display: none;
    position: relative;
    float: left;
    margin: 10px 0 0 10px;
    padding: 7px 10px 8px;
    line-height: 19px;
    -moz-border-radius: 5px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-radius: 5px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    max-width: 606px;
}

.clientvalidator ul,.aspvalidator ul,.forminfo ul {
    list-style: none;
    margin-left: 0;
}

.clientvalidator.compact,.aspvalidator.compact,.forminfo.compact {
    margin: 0 0 0 10px;
}

.aspvalidator.side {
    float: left;
}

.clientvalidator.showerror,.aspvalidator,.masterpage-error-message {
    display: block;
    background: #ffcfcf;
    border: 1px solid #c89393;
    color: #ca5757!important;
    text-shadow: #ffe9e9 1px 1px 0;
}

.clientvalidator.showerror a,.aspvalidator a,.masterpage-error-message a {
    color: #ca5757!important;
    text-shadow: #ffe9e9 1px 1px 0;
}

.clientvalidator.showerror a.standout,.aspvalidator a.standout,.masterpage-error-message a.standout {
    text-shadow: none;
    color: #da8604!important;
}

.clientvalidator.showerror a.standout:hover,.aspvalidator a.standout:hover,.masterpage-error-message a.standout:hover {
    color: #b97101!important;
}

.forminfo {
    background: #f1f1f1;
    border: 1px solid #b9b9b9;
}

.clientvalidator.valid,.forminfo.valid,.masterpage-success-message {
    background: #f0fee9;
    color: #60955b;
    border: 1px solid #8dbf73;
}

.masterpage-success-message a {
    color: #60955b;
}

.clientvalidator .arrow,.aspvalidator .arrow,.forminfo .arrow {
    position: absolute;
    top: 13px;
    left: -6px;
    display: block;
    width: 6px;
    height: 9px;
    background: transparent url(/images/form-arrows.png) no-repeat left top;
}

.clientvalidator.valid .arrow,.forminfo.valid .arrow {
    background-position: center top;
}

.forminfo .arrow {
    background-position: right top;
}

.masterpage-success-message,.masterpage-error-message {
    width: 940px;
    padding: 20px;
    border-left: none;
    border-right: none;
    border-top: none;
    position: absolute;
    top: 0;
    left: 0;
    -moz-box-shadow: 0 2px 5px #c9c9c9;
    -webkit-box-shadow: 0 2px 5px #c9c9c9;
    box-shadow: 0 2px 5px #c9c9c9;
}

.masterpage-success-message .message,.masterpage-error-message .message {
    float: left;
    width: 800px;
}

.de .masterpage-success-message .message,.de .masterpage-error-message .message {
    width: 780px;
}

.masterpage-success-message .hidemessage,.masterpage-error-message .hidemessage {
    width: 140px;
    float: right;
    text-align: right;
}

.de .masterpage-success-message .hidemessage,.de .masterpage-error-message .hidemessage {
    width: 160px;
}

.masterpage-message-link {
    font-weight: bold;
}

.external-auth .masterpage-success-message,.external-auth .masterpage-error-message {
    width: 540px;
}

.external-auth .masterpage-success-message .message,.external-auth .masterpage-error-message .message {
    width: 390px;
}

.external-auth .clientvalidator,.external-auth .aspvalidator,.external-auth .forminfo {
    padding-left: 5px;
    padding-right: 5px;
}

.column {
    width: 460px;
    margin-left: 20px;
    float: left;
}

.ie6 .column,.ie7 .column {
    display: inline;
}

.column:first-child {
    margin-left: 0;
}

.column .clientvalidator,.column .aspvalidator,.column .forminfo {
    max-width: 126px;
}

.column.threeQuarters {
    width: 614px;
}

.ru .column.threeQuarters {
    width: 640px;
}

.column.threeQuarters .clientvalidator,.column.threeQuarters .aspvalidator,.column.threeQuarters .forminfo {
    max-width: 225px;
    margin: 71px 0 0 5px;
}

.column.oneQuarter {
    width: 306px;
}

#error {
    width: 580px;
    padding: 20px;
    margin: 108px auto;
    background: #ffcfcf;
    border: 1px solid #c89393;
    color: #ca5757;
    text-shadow: #ffe9e9 1px 1px 0;
}

#error h2 {
    margin: 0 0 .5em;
}

#error a {
    color: #ca5757!important;
    font-weight: bold;
}

#frontpage-headline {
    -webkit-font-smoothing: antialiased;
    font-family: 'EngschriftDIND',Arial,sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin: 25px 0 20px 0;
    font-size: 35px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

.ru #frontpage-headline {
    font-family: 'DINCondensedC',Arial,sans-serif;
    font-size: 33px;
}

.ja #frontpage-headline {
    font-family: 'Meiryo UI',Meiryo,Mincho,sans-serif;
}

#frontpage-mainbanner {
    width: 620px;
    display: block;
    float: left;
    position: relative;
    background: transparent url(/images/illustrations/frontbanner-retribution.jpg) no-repeat left bottom;
    height: 268px;
    -webkit-font-smoothing: antialiased;
    font-family: 'EngschriftDIND',Arial,sans-serif;
    text-transform: uppercase;
    color: #fff;
}

.ru #frontpage-mainbanner {
    font-family: 'DINCondensedC',Arial,sans-serif;
}

.ja #frontpage-mainbanner {
    font-family: 'Meiryo UI',Meiryo,Mincho,sans-serif;
}

#frontpage-mainbanner h3 {
    font-size: 27px;
    margin: 143px 350px 0 0;
    text-align: right;
    line-height: 1;
    color: #e7e7e7;
}

.ru #frontpage-mainbanner h3 {
    font-size: 22px;
    margin-right: 310px;
}

.de #frontpage-mainbanner h3 {
    margin-right: 368px;
}

.ja #frontpage-mainbanner h3 {
    font-size: 24px;
    margin-top: 143px;
    margin-right: 330px;
}

#frontpage-mainbanner p {
    margin: 0 340px 0 0;
    text-align: right;
    font-size: 18px;
    line-height: 1;
}

#frontpage-mainbanner h4 {
    font-size: 24px;
    margin: 50px 0 0 0;
    text-align: center;
    line-height: 1;
    color: #e7e7e7;
    background-color: rgba(0,0,0,.5);
}

.ru #frontpage-mainbanner h4 {
    font-size: 22px;
}

.de #frontpage-mainbanner h4 {
    font-size: 22px;
}

.slidesjs-container {
    width: 620px;
    overflow: hidden;
    position: relative;
    height: 240px;
}

#slides a img:hover {
    opacity: .85;
}

#slides {
    float: left;
    z-index: 0;
    position: relative;
    margin-top: 28px;
    -moz-box-shadow: 2px 2px 1px 0 #666;
    -webkit-box-shadow: 2px 2px 1px 0 #666;
    box-shadow: 2px 2px 1px 0 #666;
    display: none;
}

#slides .slidesjs-navigation {
    margin-top: 3px;
    display: none;
}

#slides .slidesjs-previous {
    margin-right: 5px;
    float: left;
}

#slides .slidesjs-next {
    margin-right: 5px;
    float: left;
}

.slidesjs-pagination {
    margin: 26px auto 0;
    height: 20px;
    position: absolute;
    bottom: 5px;
    right: 10px;
    z-index: 101;
}

.slidesjs-pagination li {
    float: left;
    margin: 0 1px;
    list-style: none;
}

.slidesjs-pagination li a {
    display: block;
    width: 21px;
    height: 21px;
    padding-top: 0;
    background-image: url(/images/slides-dots.png);
    background-position: -42px 0;
    float: left;
    overflow: hidden;
    text-indent: -2000px;
}

.slidesjs-pagination li a.active,.slidesjs-pagination li a:hover.active {
    background-position: 0 0;
}

.slidesjs-pagination li a:hover {
    background-position: -21px 0;
}

#slides a:link,#slides a:visited {
    color: #333;
}

#slides a:hover,#slides a:active {
    color: #9e2020;
}

.navbar {
    overflow: hidden;
}

#login-frontpage {
    width: 300px;
    float: right;
    margin-top: 28px;
    min-height: 240px;
}

#login-frontpage .login-control h2 {
    margin-bottom: 22px;
}

.ru #login-frontpage .login-control h2,.de #login-frontpage .login-control h2 {
    margin-bottom: 15px;
}

#login-frontpage #loginChallenge h2 {
    margin-bottom: 14px;
    padding-bottom: 11px;
}

#login-frontpage #loginChallenge hr {
    display: none;
}

#login-frontpage #loginChallenge input[type=text] {
    margin-bottom: 15px;
}

#login-frontpage #loginChallenge .pw-help {
    float: right;
    width: 172px;
    margin: 5px 0 0;
}

.de #login-frontpage #loginChallenge .pw-help {
    width: 151px;
}

.ie7 #login-frontpage #loginChallenge input[type=submit] {
    float: left;
}

#login-frontpage a img {
    -moz-box-shadow: 2px 2px 1px 0 #666;
    -webkit-box-shadow: 2px 2px 1px 0 #666;
    box-shadow: 2px 2px 1px 0 #666;
}

#login-frontpage a img:hover {
    opacity: .85;
}

#frontpage-shortcuts {
    clear: both;
    list-style: none;
    margin: 0;
    padding: 20px 0 0 0;
    overflow: auto;
}

#frontpage-shortcuts li {
    float: left;
    width: 220px;
    height: 92px;
    margin-left: 20px;
}

#frontpage-shortcuts li:first-child {
    margin-left: 0;
}

#frontpage-shortcuts a {
    width: 220px;
    height: 92px;
    position: relative;
    display: block;
    color: #787878;
    line-height: 1;
    background: transparent url(/images/frontpage-callouts.jpg) no-repeat left top;
}

#frontpage-shortcuts a.addgametime {
    background-position: 0 -92px;
}

#frontpage-shortcuts a.activate {
    background-position: 0 -184px;
}

#frontpage-shortcuts a.plex {
    background-position: 0 -276px;
}

#frontpage-shortcuts a.plex.offer {
    background: transparent url(/images/frontpage-callout-plex-banner.png) no-repeat left bottom;
}

#frontpage-shortcuts a.aurstore {
    background-position: 0 -368px;
}

#frontpage-shortcuts a.buyeve:hover {
    background-position: right top;
}

#frontpage-shortcuts a.addgametime:hover {
    background-position: -220px -92px;
}

#frontpage-shortcuts a.activate:hover {
    background-position: -220px -184px;
}

#frontpage-shortcuts a.plex:hover {
    background-position: -220px -276px;
}

#frontpage-shortcuts a.plex.offer:hover {
    background-position: left top;
}

#frontpage-shortcuts a.aurstore:hover {
    background-position: -220px -368px;
}

#frontpage-shortcuts a.cerebral {
    background: transparent url(/images/frontpage-callouts-cerebral.jpg) no-repeat left bottom;
}

#frontpage-shortcuts a.cerebral:hover {
    background-position: left top;
}

#frontpage-shortcuts a .arrow {
    position: absolute;
    height: 8px;
    width: 11px;
    background: transparent url(/images/frontpage-callout-arrow.png) no-repeat left top;
    left: 96px;
    top: 33px;
}

#frontpage-shortcuts a:hover .arrow {
    background-position: left bottom;
}

#frontpage-shortcuts a .headline {
    -webkit-font-smoothing: antialiased;
    font-family: 'EngschriftDIND',Arial,sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-left: 113px;
    display: block;
    padding-top: 28px;
}

.ru #frontpage-shortcuts a .headline {
    font-family: 'DINCondensedC',Arial,sans-serif;
}

.ja #frontpage-shortcuts a .headline {
    font-family: 'Meiryo UI',Meiryo,Mincho,sans-serif;
    margin-left: 100px;
}

#frontpage-shortcuts a .details {
    position: absolute;
    top: 55px;
    left: 113px;
    font-size: .8333em;
    font-weight: bold;
}

#frontpage-shortcuts a.trial .arrow {
    left: 90px;
}

#frontpage-shortcuts .trial .headline {
    margin-left: 105px;
}

#frontpage-shortcuts a.trial .details {
    left: 105px;
}

.ru #frontpage-shortcuts a.trial .details {
    top: 70px;
}

.de #frontpage-shortcuts a.buyeve .arrow,.de #frontpage-shortcuts a.addgametime .arrow,.ru #frontpage-shortcuts a.buyeve .arrow,.ru #frontpage-shortcuts a.addgametime .arrow,.ru #frontpage-shortcuts a.activate .arrow,.ru #frontpage-shortcuts a.plex .arrow,.de #frontpage-shortcuts a.cerebral .arrow,.ru #frontpage-shortcuts a.cerebral .arrow {
    top: 22px;
}

.de #frontpage-shortcuts a.buyeve .headline,.de #frontpage-shortcuts a.addgametime .headline,.ru #frontpage-shortcuts a.buyeve .headline,.ru #frontpage-shortcuts a.addgametime .headline,.ru #frontpage-shortcuts a.activate .headline,.ru #frontpage-shortcuts a.plex .headline,.de #frontpage-shortcuts a.cerebral .headline,.ru #frontpage-shortcuts a.cerebral .headline,.ru #frontpage-shortcuts a.aurstore .headline {
    padding-top: 18px;
}

.en #frontpage-shortcuts a.cerebral .details {
    width: 100px;
}

.ja #frontpage-shortcuts a.buyeve .arrow,.ja #frontpage-shortcuts a.addgametime .arrow,.ja #frontpage-shortcuts a.cerebral .arrow,.ja #frontpage-shortcuts a.cerebral .arrow {
    top: 22px;
}

.ja #frontpage-shortcuts a.buyeve .headline,.ja #frontpage-shortcuts a.addgametime .headline,.ja #frontpage-shortcuts a.cerebral .headline,.ja #frontpage-shortcuts a.cerebral .headline {
    padding-top: 18px;
}

.ja #frontpage-shortcuts a .arrow {
    left: 86px;
}

.ja #frontpage-shortcuts a .details {
    left: 100px;
}

.ru #frontpage-shortcuts a.trial .arrow {
    top: 17px;
}

.ru #frontpage-shortcuts a.trial .headline {
    padding-top: 13px;
}

#frontpage-eveonlineinfo {
    margin-top: 40px;
    text-align: center;
}

#terms-conditions b {
    font-size: 14px;
    font-weight: bold;
}

#terms-conditions ul {
    margin-top: 5px;
    margin-right: 20px;
}

#terms-conditions li {
    padding: 4px 0 4px 0;
}

table.content {
    width: 100%;
    border-bottom: 1px dashed #d8d8d8;
    font-size: 1em;
}

table.content th,table.content tfoot td {
    text-align: left;
    line-height: 41px;
    padding: 0 10px;
    background: #2f2f2f;
    color: #fff;
    border-left: 1px solid #fff;
    white-space: nowrap;
    font-size: 1.1667em;
}

table.content th:first-child {
    border-left: none;
}

table.content td {
    padding: 4px 10px;
}

.ie6 table.content td,.ie7 table.content td,.ie8 table.content td {
    background: #e8e8e8;
}

table.content tr:nth-child(odd) {
    background: #dedede;
}

.ie6 table.content tr.alt td,.ie7 table.content tr.alt td,.ie8 table.content tr.alt td {
    background: #dedede;
}

table.content tbody tr:hover td {
    background: #fff;
    color: #000;
}

.ie6 table.content tbody tr:hover td,.ie7 table.content tbody tr:hover td,.ie8 table.content tbody tr:hover td {
    background: #fff;
}

table.content.invites tr.inviteclick:hover td {
    background: none;
}

table.content.invites td {
    height: 29px;
}

table.content.invites th.date {
    width: 80px;
}

table.content.invites th.reward {
    width: 120px;
    text-align: right;
}

table.content th.dummy {
    border: 0;
}

table.content .header {
    cursor: pointer;
}

table.content .headerSortDown,table.content .headerSortUp {
    color: #fa9e0e;
}

table.content .headerSortDown span,table.content .headerSortUp span {
    width: 7px;
    height: 4px;
    margin: 0 0 0 10px;
    display: inline-block;
    position: relative;
    top: 0;
    background: transparent url(/images/tablesort-arrow.png) no-repeat left bottom;
}

table.content .headerSortDown span {
    background-position: left top;
    top: -4px;
}

table.content tfoot td .pager {
    float: left;
    width: 100%;
    position: relative;
}

table.content tfoot td .pager span {
    float: left;
}

table.content tfoot td .pager span:hover {
    cursor: pointer;
    color: #fa9e0e;
}

table.content tfoot td .pager span.first {
    margin: 0 15px;
}

table.content tfoot td .pager span.first:before {
    content: '<<';
    margin-right: 5px;
}

table.content tfoot td .pager .inner {
    position: absolute;
    left: 38%;
}

table.content tfoot td .pager span.prev {
    margin-right: 15px;
}

table.content tfoot td .pager span.prev:before {
    content: '<';
    margin-right: 5px;
}

table.content tfoot td .pager span.pagedisplay:after {
    content: ' |';
}

table.content tfoot td .pager span.pagedisplay,table.content tfoot td .pager span.page {
    cursor: auto;
    color: #949393;
}

table.content tfoot td .pager span.page:before {
    content: '| ';
}

table.content tfoot td .pager span.page {
    margin-right: 3px;
}

table.content tfoot td .pager span.pagedisplay:hover {
    color: #949393;
}

table.content tfoot td .pager span.next {
    margin-left: 15px;
}

table.content tfoot td .pager span.next:after {
    content: '>';
    margin-left: 5px;
}

table.content tfoot td .pager span.last {
    float: right;
    margin: 0 15px;
    text-align: right;
}

table.content tfoot td .pager span.last:after {
    content: '>>';
    margin-left: 5px;
}

table.content.dark {
    background-color: #f3f3f3;
    border: 1px solid #f3f3f3;
}

table.content.dark tfoot td .pager .inner {
    left: 30%;
}

table.content.dark td {
    padding: 6px 12px;
    font-size: 14px;
}

table.content span.login-sec {
    opacity: 0;
    float: right;
    padding-right: 15px;
}

table.content tr:hover .login-sec {
    opacity: 1;
}

table.content.dark td.Active {
    color: #308700;
}

table.content.dark td.Banned,table.content.dark td.Deleted,table.content.dark td.Disabled,table.content.dark td.PermanentBan {
    color: #ca5757;
}

table.content.dark tbody tr:hover td.Active {
    color: #308700;
}

table.content.dark tbody tr:hover td.Banned,table.content.dark tbody tr:hover td.Deleted,table.content.dark tbody tr:hover td.Disabled,table.content.dark tbody tr:hover td.PermanentBan {
    color: #ca5757;
}

#progress-bar {
    list-style: none;
    overflow: auto;
    margin: 0 0 30px;
    font-size: 1.16667em;
}

#progress-bar li {
    float: left;
    height: 41px;
    line-height: 41px;
    padding-left: 41px;
    background: transparent url(/images/progressbar-bg.png) no-repeat left top;
}

#progress-bar li.first {
    background-position: right top;
    padding-left: 20px;
}

#progress-bar li.first.selected {
    background-position: right bottom;
}

#progress-bar li.selected {
    background-position: left bottom;
    color: #fff;
}

#progress-bar li.selected+li {
    background-position: left center;
}

ul.tabs {
    margin: 0;
    list-style: none;
}

ul.tabs li {
    float: left;
}

#checking-usernames,#not-your-character-name,.usernameErrorMsg,.passwordErrorMsg,.passwordRetypeErrorMsg,#password-rules {
    display: none;
}

li.valid {
    color: #60955b;
}

#password-rules {
    position: absolute;
    left: 322px;
    z-index: 3;
}

.domainErrorMsg {
    display: none;
}

.login-control {
    padding: 20px;
    background: #d9d9d9;
}

.login-control h2 {
    font-size: 1.1667em;
    line-height: 1;
    font-weight: bold;
    margin: 0 0 17px 0;
    padding-bottom: 17px;
    border-bottom: 1px dashed #bebebe;
}

.login-control input[type=text],.login-control input[type=password] {
    width: 240px;
    margin: 0 0 10px 0;
}

.login-control input[type=password] {
    margin-bottom: 20px;
}

.login-control input[type=submit] {
    display: inline-block;
}

.recover-password-link {
    margin-left: 16px;
    line-height: 37px;
}

#popover .login-control {
    padding: 10px;
    background: #fff;
}

#loginpopover #loginChallenge input[type=text] {
    float: none;
}

#loginpopover #loginChallenge .pw-help {
    margin: 0;
}

#subscription-intervals {
    list-style: none;
    margin: 10px 0;
}

#subscription-intervals li {
    float: left;
    padding: 20px;
    text-align: center;
    background: #fff;
    border: 5px solid #ddd;
    margin-left: 20px;
}

#subscription-intervals li:first-child {
    margin-left: 0;
}

#subscription-intervals li.MarketingCampaign {
    background: #f4fee9;
    width: 890px;
    text-align: left;
    margin: 0 0 20px 0;
    float: none;
    position: relative;
    min-height: 75px;
}

.MarketingCampaign.special {
    background: url(/images/campaigns/campaign-special-bg.png) no-repeat top left;
    height: 220px;
    margin: 0 0 20px 0;
    padding: 20px;
    position: relative;
}

.MarketingCampaign.special a.popover {
    position: absolute;
    bottom: 3px;
    right: 1px;
    font-size: 10px;
    color: #9b9b9b;
}

.MarketingCampaign.special a.popover:hover {
    background: none;
}

.MarketingCampaign.special select.ddlships {
    display: none;
}

.MarketingCampaign.special .left {
    width: 350px;
    float: left;
    font-family: 'EngschriftDIND';
    color: #fff;
    text-transform: uppercase;
    margin-left: 31px;
    margin-top: 2px;
}

.ja .MarketingCampaign.special .left {
    font-family: 'Meiryo UI',Meiryo,Mincho,sans-serif;
}

.MarketingCampaign.special .left h2 {
    font-size: 52px;
    padding: 0;
    margin: 2px 0 3px 0;
}

.MarketingCampaign.special .left h2.rub {
    font-size: 50px;
}

.MarketingCampaign.special .left h2.rub span {
    font-family: 'DINCondensedC';
}

.ru .MarketingCampaign.special .left h2 {
    font-family: 'DINCondensedC';
    font-size: 36px;
}

.ru .MarketingCampaign.special .left h2.rub {
    font-size: 36px;
}

.ja .MarketingCampaign.special .left h2 {
    font-size: 45px;
}

.MarketingCampaign.special .left h2 span {
    color: #fa9e0f;
}

.MarketingCampaign.special .left h3 {
    font-size: 30px;
    color: #fff;
    font-weight: normal;
    margin: 10px 0 3px 0;
}

.de .MarketingCampaign.special .left h3 {
    font-size: 25px;
}

.ru .MarketingCampaign.special .left h3 {
    font-size: 18px;
}

.MarketingCampaign.special .left h3 span {
    color: #fa9e0f;
    display: inline;
}

.MarketingCampaign.special .left p {
    margin-top: 10px;
    font-size: 22px;
    color: #9b9b9b;
    line-height: 1;
    margin-bottom: 2px;
}

.ru .MarketingCampaign.special .left p {
    font-size: 14px;
    margin-top: 2px;
}

.ja .MarketingCampaign.special .left p {
    font-size: 19px;
    margin-top: 2px;
}

.MarketingCampaign.special .left p span {
    color: #fa9e0f;
}

.MarketingCampaign.special input[type=submit] {
    font-family: 'DINCondensedC';
    color: #fff;
    height: 55px;
    font-size: 33px;
    padding: 9px;
    width: 330px;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px #bdbdbd;
    -moz-box-shadow: 0 1px 3px #bdbdbd;
    box-shadow: 0 1px 3px #bdbdbd;
    text-shadow: 1px 1px 3px #666;
    border: solid #eee 1px;
    background: -webkit-gradient(linear,0 0,0 100%,from(#feca18),to(#fa9f0e));
    background: -moz-linear-gradient(top,#feca18,#fa9f0e);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#feca18,endColorStr=#fa9f0e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#feca18,endColorStr=#fa9f0e);
    display: inline-block;
    margin: 10px 0 0 0;
    text-transform: uppercase;
}

.de .MarketingCampaign.special input[type=submit] {
    font-size: 28px;
}

.MarketingCampaign.special input[type=submit]:hover {
    background: #f49b0f;
}

.standard-options {
    font-size: 20px;
    text-shadow: 1px 1px 1px #d4d3d3;
    margin-bottom: 25px;
}

.MarketingCampaign.special ul {
    float: right;
    width: 470px;
}

.MarketingCampaign.special ul li {
    float: left;
    width: 234px;
    height: 117px;
    list-style: none;
    margin: 0 0 0 0;
    padding: 0;
    background: url(/images/campaigns/campaign-special-ships-frigates.png) no-repeat top;
    border: none;
    position: relative;
    text-indent: -20000px;
}

.MarketingCampaign.special .aspvalidator {
    position: absolute;
    text-transform: none;
    right: -78px;
    top: 40%;
    font-family: Arial;
}

.ru .MarketingCampaign.special .aspvalidator {
    right: -99px;
}

.MarketingCampaign.special ul li a {
    float: left;
    width: 214px;
    height: 94px;
    position: absolute;
    top: 6px;
    left: 8px;
}

.MarketingCampaign.special ul li.sel-100199,.MarketingCampaign.special ul li.sel-100203,.MarketingCampaign.special ul li.sel-100211,.MarketingCampaign.special ul li.sel-100215 {
    background-position: -37px -18px;
}

.MarketingCampaign.special ul li.sel-100199.hover,.MarketingCampaign.special ul li.sel-100203.hover,.MarketingCampaign.special ul li.sel-100211.hover,.MarketingCampaign.special ul li.sel-100215.hover {
    background-position: -37px -283px;
    opacity: .7;
}

.MarketingCampaign.special ul li.sel-100199.selected,.MarketingCampaign.special ul li.sel-100203.selected,.MarketingCampaign.special ul li.sel-100211.selected,.MarketingCampaign.special ul li.sel-100215.selected {
    background-position: -37px -283px;
}

.MarketingCampaign.special ul li.sel-100199.selected:hover,.MarketingCampaign.special ul li.sel-100203.selected:hover,.MarketingCampaign.special ul li.sel-100211.selected:hover,.MarketingCampaign.special ul li.sel-100215.selected:hover {
    opacity: 1;
}

.MarketingCampaign.special ul li.sel-100198,.MarketingCampaign.special ul li.sel-100202,.MarketingCampaign.special ul li.sel-100210,.MarketingCampaign.special ul li.sel-100214 {
    background-position: -274px -18px;
}

.MarketingCampaign.special ul li.sel-100198.hover,.MarketingCampaign.special ul li.sel-100202.hover,.MarketingCampaign.special ul li.sel-100210.hover,.MarketingCampaign.special ul li.sel-100214.hover {
    backgroun